Q-1

In [1]:
a = 0
def b():
 global a  # all the references to a in b() are to be in global a
 a = c(a)  # function c is caled with value of 0 and the value is stored in a
   
    def c(a):  # global variable a is called here
 return a + 2  # this has global scope

In [2]:
>>> b()  # the value of a is 2 (0+2)
>>> b()  # the value of a is 4 (2+2)
>>> b()  # the value of a is 6 (4+2)
>>> a

6

Q-2

In [3]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    
    except:
        print('File {} not found.'.format(file_name))
        
file_name = 'auto.py'
file_length(file_name)

file_name = 'midterm.py'
file_length(file_name)

File auto.py not found.
File midterm.py not found.

Q-3

In [14]:
class marsupial:
    
    def __init__(self):
        self.pouch=[]
        
    def put_in_pouch(self, item):
        self.pouch.append(item)

SyntaxError: invalid syntax (132269994.py, line 21)

Q-4

In [15]:
def collatz(x):
    if (x == 1):
        print(1)
        
    elif (x < 1):
        print("enter any positive number")
        
    elif (x % 2 == 0):
        print(int(x))
        x = x/2
        collatz(x)
        
    else:
        print(int(x))
        x = (x*3) + 1
        collatz(x)
        
x = int(input("enter a positive number: "))
collatz(x)

enter a positive number: 1
1

Q-4(b)

In [16]:
def collatz(x):
    if (x == 1):
        print(1)
        
    elif (x < 1):
        print("enter any positive number")
        
    elif (x % 2 == 0):
        print(int(x))
        x = x/2
        collatz(x)
        
    else:
        print(int(x))
        x = (x*3) + 1
        collatz(x)
        
x = int(input("enter a positive number: "))
collatz(x)

enter a positive number: 10
10
5
16
8
4
2
1

Q-5

In [17]:
def binary(n):
   if n > 1:
       binary(n//2)
   print(n % 2,end = '')
binary(0)

0

In [18]:
binary(1)

1

In [19]:
binary(3)

11

In [20]:
binary(9)

1001

Q-6

In [25]:
from html.parser import HTMLParser


class HeadingParser(HTMLParser):

    c = 0      
    i = 0     
    
    def handle_starttag(self, tag, attrs):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.c = 1                     

    def handle_data(self, data):
         if self.c == 1:
            print(data.rjust(len(data) + self.i), end ='\n') 
    def handle_endtag(self, tag):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'h7', 'h8', 'h9']:
            self.c = 0                    
            self.i +=1   

infile = open("w3c.html")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

Q-8

In [28]:
import sqlite3
con = sqlite3.connect('cInfo.db')
cur = con.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS cityInfo (City text, Country text, Season text, Temperature double, Rainfall double)")
cur.execute("INSERT INTO cityInfo VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai','India', 'Spring', 28.4, 16.2), ('Mumbai','India', 'Summer', 27.9, 1549.4), ('Mumbai','India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO cityInfo VALUES ('London', 'United Kindom', 'Winter', 4.2, 207.7), ('London', 'United Kindom', 'Spring', 8.3, 169.6), ('London', 'United Kindom', 'Summer', 15.7, 157.0), ('London', 'United Kindom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO cityInfo VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

cur.execute('SELECT * FROM cityInfo')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Winter', 4.2, 207.7),
 ('London', 'United Kindom', 'Spring', 8.3, 169.6),
 ('London', 'United Kindom', 'Summer', 15.7, 157.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

Temprature data

In [29]:
cur.execute('SELECT Temperature FROM cityInfo')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

Cities without repitition

In [30]:
cur.execute('SELECT DISTINCT(City) FROM cityInfo')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

Records for India

In [31]:
cur.execute('SELECT * FROM cityInfo where Country = "India"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

All the fall records

In [32]:
cur.execute('SELECT * from cityInfo where Season="Fall"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

Avg rainfall between 200 to 400 mm

In [33]:
cur.execute('SELECT City,Country,Season, AVG(Rainfall) FROM cityInfo GROUP BY City, Country, Season having AVG(Rainfall)>200 and AVG(Rainfall)<400 ')
cur.fetchall()

[('London', 'United Kindom', 'Fall', 218.5),
 ('London', 'United Kindom', 'Winter', 207.7),
 ('Mumbai', 'India', 'Fall', 346.0)]

Avg fall temprature is above 20 degree, in increasing order

In [34]:
cur.execute('SELECT City, Country, AVG(Temperature) FROM cityInfo where Temperature > 20 GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER By Temperature ASC')
cur.fetchall()

[('Cairo', 'Egypt', 23.53333333333333),
 ('Mumbai', 'India', 27.174999999999997)]

Total annual rainfall for cairo

In [35]:
cur.execute('SELECT SUM(Rainfall) FROM cityInfo WHERE City = "Cairo"')
cur.fetchall()

[(27.6,)]

Total rainfall for each season

In [36]:
cur.execute('SELECT Season, SUM(Rainfall) FROM cityInfo GROUP BY Season')
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

Q-9

In [37]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
words_upper = [item.upper() for item in words]
print (words_upper)
words_lower = [item.lower() for item in words]
print (words_lower)
word_len = [len(item) for item in words]
print(word_len)
list_of_all = [[x, y , z] for x, y, z in zip(words_upper,words_lower,word_len)]
print (list_of_all)
words_four = []
[words_four.append(item) for item in words if len(item)>=4]
print (words_four)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']